<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

<!--<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>

    <h1>Temperature in Holzhausen!</h1>
    <div ng-controller="temperatureController">
        <p>Following list.</p>
        <ul ng-repeat="product in products | filter:isActive">
            <li>{{product.name}}</li>
        </ul>
    </div>-->
</body>
</html>
